* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
}

header {
  background-image: url(IMG/ana-grave-156852-unsplash.jpg);
  height: 100vh;
  background-size: cover;
}

.tp-hdr {
  padding: 10px;
  margin: 0px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tp-hdr .bees {
  margin-left: 4vw;
  font-weight: 600;
  font-size: 16px;
}

.tp-hdr a {
  display: inline;
  color: white;
  list-style: none;
  margin: 4vw;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.hero-banner {
  height: 105%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner h1 {
  font-size: 84px;
  margin: 0px;
  color: white;
}

.hero-banner h2 {
  font-size: 36px;
  margin: 2px;
  color: white;
  font-weight: 400;
}

.hero-banner .hro-button {
  background: #a0a0a0;
  border-radius: 4px;
  border: #FFFFFF solid 2px;
  fill-opacity: 40%;
  margin: 37px;
  height: 54px;
}

.hero-banner .lstn-nw-txt {
  font-weight: 600;
  font-size: 15px;
  color: white;
  padding: 1px 37px;
}

.about {
  display: block;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 25px;
  background: #FFFFFF;
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100vw;
}

.about h3 {
  margin-bottom: 5px;
  font-size: 64px;
  font-weight: 400px;
  color: black;
}

.about .paragraph-1 {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
  width: 27%;
  padding-right: 71px;
  margin: 0;
}

.about .paragraph-2 {
  font-size: 16px;
  width: 44%;
  line-height: 2.0;
  margin: 0;
}

.about img {
  width: 100%;
}

section, footer, nav {
  display: block;
}

.music {
  padding-left: 100px;
  padding-top: 100px;
  background: #F9F9F9;
}

.music h3 {
  font-size: 64px;
  font-weight: 700;
}

.music .music-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 200px;
}

.music .paragraph-3 {
  font-size: 20px;
  width: 50%;
  padding-left: 70px;
}

.gallery {
  padding-left: 100px;
  background: #FFFFFF;
}

.gallery h3 {
  font-size: 64px;
  font-weight: 700;
  padding-bottom: 50px;
  padding-top: 110px;
}

.gallery .image-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 110px;
  width: 94vw;
}

.gallery .images {
  width: 285px;
  height: 285px;
  padding: 5px;
}

.comment {
  padding-left: 100px;
  padding-top: 100px;
  background: #F9F9F9;
}

.comment h3 {
  font-size: 64px;
  font-weight: 700;
  margin-top: 0px;
  padding-bottom: 50px;
}

.comment .name, .comment .anc-txt, .comment .post-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 12px;
}

.comment .name, .comment .anc-txt {
  font-weight: 800;
  font-size: 20px;
}

.comment .anc-txt {
  padding-top: 30px;
}

.comment .post-comment {
  color: white;
  background: black;
  padding: 15px 42px;
  margin-top: 15px;
  border-radius: 8px;
  font-weight: 500;
}

.comment .comment-button {
  padding-top: 10px;
}

.comment .bar1 {
  height: 45px;
  width: 600px;
}

.comment .bar2 {
  height: 120px;
  width: 600px;
}

.comment .putHere {
  width: 600px;
  text-decoration: underline overline;
}

.comment .comm .usr-comment {
  width: 550px;
  font-size: 10px;
}

.comment .hr-line {
  margin-right: 550px;
}

.comment .cnts-button {
  padding-top: 18px;
}

.comment .cnt-button {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  width: 198px;
  height: 55px;
}

.comment-sections {
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

.contact {
  margin-top: 0;
  padding-top: 1px;
  padding-left: 100px;
  background: #272727;
  color: white;
}

.contact h3 {
  font-size: 64px;
  font-weight: 700;
  padding-top: 65px;
  margin-bottom: 40px;
}

.contact .contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .mgmt-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 980px;
  margin-left: -27;
  font-weight: 600;
}

.contact .mgmt-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .mgmt-info .p1 {
  margin-top: -15px;
}

.contact .mgmt-info .p2 {
  padding-left: 188px;
  margin-top: 4px;
}

.contact .mgmt-info .p3 {
  padding-left: 145px;
  margin-top: -15px;
}

.contact .img1, .contact .img2, .contact .img3 {
  height: 25px;
  padding-top: 30px;
  padding-right: 80px;
}

.contact .copyright {
  margin-top: 120px;
  font-size: 10px;
}
/*# sourceMappingURL=sprint2.css.map */