
*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
body{
    width:100%
}

header {
    background-image: url(IMG/ana-grave-156852-unsplash.jpg);
    height: 100vh;
    background-size: cover;
}

.tp-hdr{
    padding: 10px;
    margin: 0px;
    color: white;
    display: flex;
    justify-content: space-between;
    .bees{
        margin-left: 4vw;
        font-weight: 600;
        font-size: 16px;
    }
    a{
        display: inline;
        color:white;
        list-style: none;
        margin:4vw;
        font-weight: 600;
        font-size:16px;
        text-decoration:none;
    }
}
    .hero-banner{
        height: 105%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 84px;
            margin:0px;
            color: white;
        }
        h2{
            font-size: 36px;
            margin:2px;
            color:white;
            font-weight: 400;
        }
        .hro-button{
            background:#a0a0a0;
            border-radius: 4px;
            border: #FFFFFF solid 2px;
            fill-opacity: 40%;
            margin: 37px;
            height:54px;
        }
        .lstn-nw-txt{
            font-weight: 600;
            font-size: 15px;
            color: white;
            padding: 1px 37px;
        }
}

.about{ 
        display: block;
        padding-left: 100px;
        padding-top:100px;
        padding-bottom:100px;
        margin-bottom:25px;
        background: #FFFFFF;
    .about-content{
        display: flex;  
        justify-content: left;
        width: 100vw;
    }
    h3{
        margin-bottom: 5px;
        font-size: 64px;
        font-weight: 400px;
        color: black;
    }
    .paragraph-1{
        font-weight: 800;
        font-size: 20px;
        line-height: 1.5;
        width: 27%;
        padding-right: 71px;
        margin: 0;
    }
    .paragraph-2{
        font-size: 16px;
        width: 44%;
        line-height: 2.0;
        margin: 0;
    }
    img {
        width: 100%;
    }
}

section, footer, nav, {
    display: block;
}

.music{
    padding-left: 100px;
    padding-top:100px;
    background:#F9F9F9;
    h3{
        font-size: 64px;
        font-weight: 700;
    }
    .music-content{
        display: flex; 
        padding-top:60px;
        padding-bottom:200px;
    }
    .paragraph-3 {
        font-size: 20px;
        width: 50%;
        padding-left: 70px
    }
}

.gallery{
    padding-left: 100px;
    background: #FFFFFF;

    h3{
        font-size: 64px;
        font-weight: 700;
        padding-bottom: 50px;
        padding-top:110px;
    }
    .image-section{
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom:110px;
        width:94vw;
    }
    .images{
        width: 285px;
        height: 285px;
        padding:5px;
    }
}

.comment{
    padding-left: 100px;
    padding-top:100px;
    background:#F9F9F9;
    h3{
        font-size: 64px;
        font-weight: 700;
        margin-top: 0px;
        padding-bottom:50px;
    }

    .name, .anc-txt, .post-comment{
        display:flex;
        padding-bottom: 12px;
    }
    .name, .anc-txt{
        font-weight:800;
        font-size: 20px;
    }
    .anc-txt{
        padding-top:30px;
    }
    .post-comment{
        color:white;
        background:black;
        padding:15px 42px;
        margin-top:15px;
        border-radius:8px;
        font-weight:500;
    }
    .comment-button{
        padding-top:10px;
    }
    .bar1{
        height: 45px;
        width: 600px;
    }
    .bar2{
        height: 120px;
        width:600px;
    }

    .putHere{
        width: 600px;
        text-decoration: underline overline;
    }
    .comm .usr-comment {
        width:550px;
        font-size: 10px;
        }
    .hr-line{
        margin-right:550px;
    }

    .cnts-button{
        padding-top:18px;
    }
    .cnt-button{
        color:white;
        justify-content: center;
        border-radius:4px;
        width:198px;
        height:55px;
    }
}

.comment-sections{
    padding:0;
    flex-wrap: wrap;
    justify-content:center;
    margin:0px
}

    .contact{
        margin-top:0;
        padding-top:1px;
        padding-left: 100px;
        background: #272727;
        color: white;   
        h3{
            font-size: 64px;
            font-weight: 700;
            padding-top:65px;
            margin-bottom:40px;
        }
        .contact-section{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content:space-between
        }
        .mgmt-titles{
            display: flex;   
            justify-content:space-between;
            width:980px;
            margin-left: -27;
            font-weight:600;
            }
        .mgmt-info{
            display:flex;
            .p1{
                margin-top:-15px;
            }
            .p2{
                padding-left:188px;
                margin-top:4px;
            }
            .p3{
                padding-left:145px;
                margin-top:-15px;
            }
        }

            .img1, .img2, .img3{
             height:25px;
             padding-top:30px;
             padding-right:80px;
            }

            .copyright{
                margin-top:120px;
                font-size:10px;
                }
}
