* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
}

header {
  background-image: url(IMG/hanny-naibaho-388579-unsplash.png);
  width: 100%;
  background-size: cover;
}

.tp-hdr {
  width: 100%;
  height: auto;
}

.hdr-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bees {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  color: white;
  padding: 18px;
  padding-left: 117px;
  font-weight: 600;
  font-size: 16px;
}

.nv-ul {
  width: 433px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*Header Ends*/
/*Shows Section Begins */
/*Five tags nested below 'shows' tag*/
.shows {
  margin-top: 70px;
  margin-left: 112px;
  padding-bottom: 176px;
}

.shows .shows-title {
  color: white;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 15px;
}

.shows .tour-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shows .tour-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
}

.shows li {
  list-style: none;
  padding-bottom: 20px;
  padding-top: 30px;
}

.shows .get-tickets {
  background: #a0a0a0;
  border-radius: 4px;
  border: #FFFFFF solid 2px;
  fill-opacity: 40%;
  margin: 13px;
  margin-bottom: 17px;
  height: 56px;
}

.shows .get-tickets-font {
  font-weight: 600;
  font-size: 15px;
  color: white;
  padding: 1px 37px;
}

/*Closing tag of show section*/
/*Shows Section Ends */
/*Contact Section Begins*/
.contact {
  margin-top: 0;
  padding-left: 100px;
  background: #272727;
  color: white;
  /*Closing tag for Contact Section*/
}

.contact h3 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
  padding-top: 100px;
}

.contact .contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .mgmt-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 980px;
  margin-left: -27;
  font-weight: 600;
}

.contact .mgmt-info {
  /*Management and booking details listed through p1-p3*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .mgmt-info .p1 {
  margin-top: -15px;
}

.contact .mgmt-info .p2 {
  padding-left: 180px;
  margin-top: 4px;
}

.contact .mgmt-info .p3 {
  padding-left: 142px;
  margin-top: -15px;
}

.contact .img1, .contact .img2, .contact .img3 {
  /*Social Media Img's*/
  height: 25px;
  padding-top: 30px;
  padding-right: 80px;
}

.contact .copyright {
  margin-top: 120px;
  font-size: 10px;
}
/*# sourceMappingURL=sprint2-about.css.map */